<!DOCTYPE html>
<html lang='en'>
<head>
</head>
<body>
    <h1>NEW EVENT REQUEST</h1>
    <p>New Event Request For: <%= bandName %> on <%= month %>/<%= day %>/<%= year %>  </p>
    <form action="/addEvent">
        <input type="hidden" id="bandName" name="bandName" value="<%= bandName %>"><br>
        <input list="knownBands" type="text" id="otherBand" name="otherBand"><br>
        <input type="checkbox" id="isMatinee" name="isMatinee value="isMatinee>
        <label for="isMatinee"> Check this box if you'd like a Matinee</label><br>
        <input type="hidden" name="showDate" value="<%= month %>/<%= day %>/<%= year %>"/>
        <input id="reqDate" type="hidden" name="reqDate"/>
        <input type="submit">	
    </form>
    <datalist id="knownBands">
        <% 
            var dataObj = knownBands;
        %>
        <%
            for ( let singleItem of dataObj ) {
        %>
            <option value='<%= singleItem %>'>
        <%
            }
        %>
</datalist>
    <script>
        var date = new Date().toLocaleDateString();
        document.getElementById("reqDate").setAttribute("value",date);
    </script>
</body>
</html>
